*{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    padding: 30px;
    font-size: 50px;
    
}
nav a{
    
    text-decoration: none;
    color: wheat;
}
.wee{
    background-color: yellow;
}
.waa{
    background-color: red;
}